.featureSvg {
  float: left;
  margin-bottom: 1rem;
  height: 10rem;
}

@media screen and (max-width: 426px) {
  .featureSvg {
    margin-bottom: 12rem;
    margin-right: 1rem;
    height: 5rem;
    width: 5rem;
  }
}
